body{

font-family: "Segoe UI", sans-serif;

background:#0f1116;

color:white;

margin:0;

padding:20px;

}

.container{

max-width:1100px;

margin:auto;

}

h1{

text-align:center;

margin-bottom:20px;

}

textarea{

width:100%;

padding:12px;

font-size:16px;

border-radius:8px;

border:1px solid #2a2f3a;

background:#151922;

color:white;

resize:vertical;

}

.selectores{

display:flex;

gap:10px;

margin:15px 0;

flex-wrap:wrap;

}

select{

padding:10px;

border-radius:6px;

border:1px solid #2a2f3a;

background:#151922;

color:white;

}

button{

padding:12px 25px;

border-radius:6px;

border:none;

background:#e10600;

color:white;

font-weight:bold;

cursor:pointer;

margin-bottom:20px;

display:block;

width:100%;

max-width:300px;

margin-left:auto;

margin-right:auto;

}

.resultados{

display:flex;

gap:20px;

flex-wrap:wrap;

}

.tabla-usuario,
.tabla-real{

flex:1;

min-width:280px;

background:#151922;

padding:15px;

border-radius:10px;

border:1px solid #2a2f3a;

}

.tabla-scroll{
max-height:none;
overflow:visible;
}

.tabla-scroll div{

padding:4px 6px;

border-bottom:1px solid #2a2f3a;

border-radius:4px;

}

.tabla-scroll div.acertado{

background:#0f5e0f;

}

.tabla-scroll div.fallado{

background:#5e0f0f;

}

.vr-container{

display:none;

margin-top:20px;

background:#151922;

padding:15px;

border-radius:10px;

border:1px solid #2a2f3a;

}

.vr-tabla{

display:flex;

justify-content:space-between;

}

.puntos-container{

display:none;

text-align:center;

margin-top:20px;

padding:15px;

border-radius:10px;

border:1px solid #2a2f3a;

background:#151922;

}

#sprintContainer{

display:none;

}

@media(max-width:768px){

.resultados{

flex-direction:column;

}

}

.compañero{
background:#ffe066;
color:#333;
}

.pts{
float:right;
font-size:13px;
opacity:0.8;
font-weight:normal;
}

.tiempo{
float:right;
opacity:.7;
font-size:13px;
}
